fileTypes: [
  'txt'
  'ptr'
]
name: 'Pokémon Translation File'
patterns: [
  {
    include: '#numbers'
  }
  {
    include: "#ftext"
  }
]
repository:
  numbers:
    patterns: [
      {
        match: "\\b[0-9]+\\b"
        name: "constant.numeric.dec"
      }
      {
        match: "\\$[0-9a-fA-F]+\\b"
        name: "constant.numeric.hex"
      }
      {
        match: "\\b\\%[01]+\\b"
        name: "constant.numeric.bin"
      }
    ]
  ftext:
    patterns: [
      {
        match: "\\\\x[f0-9]+e?"
        name: "constant.character.escape"
      }
    ]

'scopeName': 'text.ptr'
